<div class="row">
    <div class="col-xs-12">
        <h1>{{ invoice.number }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                Menage invoices
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ invoice.contractor }}
        {{ invoice.date }}
        {{ invoice.price }}
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ invoice.contractor }}
  </div>
</div>
