<div class="row">
    <div class="col-xs-12">
        <h1>{{ invoice.number }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ngbDropdown>
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                Manage invoices
            </button>
            <div aria-labelledby="dropdownMenuButton" ngbDropdownMenu style="cursor:pointer;">
                <a ngbDropdownItem (click)="onAddToContractorsList()">To Contractors List</a>
                <a ngbDropdownItem (click)="onEditInvoice()">Edit</a>
                <a ngbDropdownItem>Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ invoice.contractor }}
        {{ invoice.date }}
        {{ invoice.price }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let contractor of invoice.contractors">
                {{ contractor.name }} -{{ contractor.nip }} - {{contractor.address}}
            </li>
        </ul>
    </div>
</div>
